@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	padding: 0;
	background-color: #f3f4f6; /* Gray-100 */
	overflow: hidden; /* Prevent scrolling if photos are dragged around */
}

/* Custom Scrollbar if needed, though we try to avoid scrolling */
::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-track {
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 4px;
}
